/********* CSS HEADER *********/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    border-bottom: 4px solid $mainColor;
}

.header-logo{
    width: 190px;
    height: auto;
}

.header-lista{
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-around;
}

.header-lista li{
    list-style-type: none;
}

.header-lista li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-lista li a:hover{
    color: $mainColor;
}